<!DOCTYPE html>
<html>
<head>
	<title>Follow</title>
	<link rel="stylesheet" type="text/css" href="/follow.css">
</head>
<body>
<h2 class="font">Follow</h2>
	<a href = '/' class="return">Return</a><br>
	<%User.all.each do |user|%>
	<div>
		<%= user.email %><br>
		Followers : 
		<%=user.get_fcount%>
		<form action='/togglefollow' method = "post">
		<input type = "hidden" name="user_id" value = "<%=user.id%>">
		<span class="followtoggle">
		<%if Follow.all(user_id: user.id, follower_id: session[:user_id]).first %>
			<input type = "submit" value = "unfollow">
		<%else%>
			<input type = "submit" value = "follow">
		<%end%>
		</span>
		</form>
		</div>
		<%end%>
</body>
</html>