<!DOCTYPE html>
<html>
<head>
	<title>twitter App</title>
	<link rel="stylesheet" type="text/css" href="/layout.css">
</head>
<body>
<div>
<h1 class="font">
	twitter
</h1>
<%= yield %>
</div>
</body>
</html>