.font{
	text-align: center;
}

div {
	box-shadow: 10px 10px 15px -15px #999;
	width: 30em;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
}

.input{
	padding: 30px;
	margin-top: 3em;
	margin-left: 30em;
	margin-right: auto;
}

.button{
	position: relative;
}

.user{
	font-weight: bold;
}

.follow{
	display: block;
	position:absolute;
   top:0;
   right:10em;
   margin: 2em;
}
.signout{
	display: block;
	position:absolute;
   top:0;
   right:3em;
   margin: 2em;
}