
div {
	box-shadow: 10px 10px 30px -10px #999;
	width: 30em;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
}

input {
	display: block;
	margin-bottom: 10px;
}
.font{
	color: rgb(0, 153, 255);
}
